/* Desktop only */

/* Global Colors */
:root {
    --white: #fff; 
    --MAQRed: #BA141A; 
    --MAQBlack: #212121; 
    --MAQGrey: #F0F0F0; 
    --StrokeGrey: #D9D9D9; 
    --DarkGrey: #616161; 
    --MAQLogoGrey: #58595B; 
    --LightGrey: #F7F7F7; 
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
    color: var(--MAQBlack);
  }

/*text styles*/

h1{
  margin-top: 0;
}

h1.big{

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5em;
  
  }
  
  h1.normal{
  
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    margin-bottom: 20px;
  
  }
  
  h2.normal{
  
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
  
  }
  
  h2.big{
  
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.5em;
  
  }

  h2.left-align{
    flex-grow: 1;
  }
  
  h3.normal{
  
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.25em;
  
  }
  
  h3.big{
  
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.75em;
  
  }

  .contact-us-section-subheading{

    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75em;
    line-height: 120%;
     
  }
  
  .body-text{
  
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
    margin-bottom: 0.5em;

  }

  .body-text-centered{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
    text-align: center;

  }
  
  .body-bold{
  
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.25em;
  
  }


  .card-title{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  .card-title-centered{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75rem;
    text-align: center;
  }

  .card-title-small{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;  
  }

  .btn-text{
    
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: white;

  }

  .section-heading-container-centered{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .section-heading-container{
    display: flex;
    flex-direction: column;
  }
  

  .section-subheading{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .contact-us-subheading{
    margin-bottom: 0;
  }

  .learn-more-link {
    text-decoration: none;
    color: var(--MAQRed);
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.learn-more-link:hover {
    color: var(--MAQRed);
}

.chevron {
    margin-left: 5px;
    transition: margin-left 0.3s ease;
}


p{
  margin: 0;
}

.display-large{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  display: inline-block;

}

.display-medium{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.25em;
  width: auto;
  margin-bottom: 20px;
}

.display-regular{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.25em;
  width: auto;
  margin-bottom: 20px;
}


.one-third-text{
  width: 66.6%;
}

.display-small{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;

}

.email-link{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  color: var(--MAQRed);
  text-decoration: none;
}

.email-link-black{
  color:black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
}

.email-link:hover{
  text-decoration: underline;
  color: var(--MAQRed);
}

/* text exceptions */

.contact-header{
  margin-top: 0;
}

/* Top Nav */

/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 10px 50px;
    border-bottom: solid 2px var(--StrokeGrey);
    height: auto;
}

.navbar ul.navbar-inner{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar ul li {
    margin-left: 20px;
}
.navbar ul li a {
    color: var(--MAQBlack);
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

.navbar ul li a .active {
    color: var(--MAQBlack);
    text-decoration: underline;
} */


.logo-image{
    width: 120px;
    max-width: 100%;
    height: 40px;
}

.flex-col-2{
  display: flex;
  flex-direction: row;
}

.flex-col-2-contact-header{
  display: flex;
  flex-direction: row;
  align-items: start;
}

.section-block-padding-sm{
  padding: 5% 10%;
}

.section-block-padding-lg{
  padding: 10% 10%;
}

.hero-section, .products-hero-section,.contact-gray-section, .contact-section-contactpage{
  background: linear-gradient(to bottom, #FFFFFF, #F0F0F0);

}

.hero-item-1 {
  flex: 2;
}

.hero-item-2 {
  flex: 1;
}

/* buttons */

.btn-primary{
  background-color: var(--MAQRed);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration: none;

}

.btn-primary:hover{
  background-color: white;
  color: var(--MAQRed);
  border: 2px solid var(--MAQRed);
}

/* -----------------------------------flex ----------------------------*/

.flex-row{
  display: flex;
  flex-direction: row;
  margin-bottom: 4%;
  align-items: center;

}

.flex-row-contact-locations{
  display: flex;
  flex-direction: row;
  margin-bottom: 4%;
  align-items: top;
  justify-content: space-between;

}

.gap-lg{
  gap: 20%;
  align-items: flex-start;
}

.flex-column{
  display: flex;
  flex-direction: column;  
}

/* flex grids */

.pricing-flex-grid{
  display: flex;
  flex-direction: row;
}

.services-flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.products-flex-grid {
  display: flex;
  flex-direction: row;
}

.community-flex-grid{
  display: flex;
  flex-direction: row; 
}

.card-item{
  background-color: var(--white);
  color: var(--MAQBlack);
  flex: 1 1 calc(33.333% - 10px);
  margin: 5px;
  padding: 20px;
  border: 2px solid var(--StrokeGrey);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card-item:hover, .customer-stories-card:hover{
  background-color: var(--LightGrey);
}

.card-item:hover .chevron, .customer-stories-card:hover .chevron{
  margin-left: 10px;
}

.card-item:hover .learn-more-link .customer-stories-card:hover{
  /* text-decoration: underline; */
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}


.card-item-centered{
  color: var(--MAQBlack);
  flex: 1 1 calc(33.333% - 10px);
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.stat-item{
  background-color: var(--white);
  color: var(--MAQBlack);
  flex: 1 1 calc(33.333% - 10px);
  margin: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}


/* Images & Icons */


.services-icon-img{
  width: 32px; 
  margin-bottom: 12px;
}

/* section types */

.explore-our-products-section, .customer-stories-section, .community-section, .business-outcomes-section, .book-section{
  background-color: var(--MAQGrey);
}



.stat-flex{
  width: fit-content;
}

/* decorations */

.red-underline {
  width: 100%;
  height: 4px;
  background: var(--MAQRed);
  clip-path: polygon(0% 80%, 98% 20%, 100% 100%, 0% 100%);
  margin-top: -6px;
  margin-bottom: 6px;

}

.red-underline-rectangle{
  background: var(--MAQRed);
  width: 25%;
  height: 5px;
  margin-top: -3px;
  margin-bottom: 10px;
}

/* dropdown */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li {
  display: block;
}

.dropdown-content li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li a:hover {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* -------------------------customer stories carousel------------------------- */

  .customer-stories-carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-left: 4%;
    padding-right: 4%;
  }
  
  .customer-stories-carousel {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .customer-stories-card {
    flex: 0 0 auto;
    width: 25%;
    position: relative;
    margin: 5px;
    background-color: var(--white);
    color: var(--MAQBlack);
    padding: 20px;
    border: 1.5px solid var(--StrokeGrey);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

  }
  
  .customer-stories-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  }
  
  .customer-stories-card:hover .overlay {
    opacity: 1;
  }
  
  .overlay-text {
    position: absolute;
    text-align: left;
    display: none;
    padding: 20px;
  }
  
  .customer-stories-card:hover .overlay-text {
    display: block;
  } */
  
  .carousel-controls {
    position: absolute;
    bottom: -20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .carousel-dot.active {
    background-color: #717171;
  }
  
  .carousel-chevron {
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
    user-select: none;
  }

/* -------------------------testimonials carousel------------------------- */

  .testimonials-carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .testimonials-carousel {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .testimonials-card {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 20px;
    margin: 5px;
    background-color: var(--white);
    color: var(--MAQBlack);
    padding: 20px;
    border: 2px solid var(--StrokeGrey);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .testimonials-author {
    margin-bottom: 0;
  }

  .testimonials-img {
    width: 160px;
    max-height: 70px;
    /* border-radius: 50%; */
    margin-right: 1.5em;
    overflow: hidden;
  }
  
  .testimonials-carousel-controls {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .testimonials-carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .testimonials-carousel-dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .testimonials-carousel-dot.active {
    background-color: #717171;
  }
  
  .testimonials-carousel-chevron {
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
    user-select: none;
  }

  /* community carousel */

  .community-carousel-container, .products-carousel-container  {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
  }

/* Desktop only */

/* Global Colors */
:root {
    --white: #fff; 
    --MAQRed: #BA141A; 
    --MAQBlack: #212121; 
    --MAQGrey: #F0F0F0; 
    --StrokeGrey: #D9D9D9; 
    --DarkGrey: #616161; 
    --MAQLogoGrey: #58595B; 
    --LightGrey: #F7F7F7; 
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
    color: var(--MAQBlack);
  }

/*text styles*/
/* 
h1.big{

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 7rem;
  
  }
  
  h1.normal{
  
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
  
  }
  
  h2.normal{
  
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
  
  }
  
  .big-h2{
  
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 72px;
  
  }
  
  h3.normal{
  
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
  
  }
  
  .big-h3{
  
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
  
  }
  
  .body-text{
  
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
  }

  .body-text-centered{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-align: center;

  }

  .centered{
    text-align: center;
  }
  
  .body-bold{
  
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.75rem;
  
  }

  .card-title{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75rem;
  }

  .card-title-centered{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75rem;
    text-align: center;
  }

  .card-title-business-outcome{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75rem;
  }

  .card-title-small{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;  
  }

  .btn-text{
    
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.75rem;
    color: white;

  }

  .section-subheading{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin-bottom: 4%;
    width: 50%;

  }

  .learn-more-link {
    text-decoration: none;
    color: var(--MAQRed);
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.learn-more-link:hover {
    color: var(--MAQRed);
}

.chevron {
    margin-left: 5px;
    transition: margin-left 0.3s ease;
}

.learn-more-link:hover .chevron {
    margin-left: 10px;
}

p{
  margin: 0;
}

.display-large{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  display: inline-block;

}

.display-medium{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  width: 66.6%;

}

.display-small{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;

}

.email-link{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--MAQRed);
  text-decoration: none;
}

.email-link:hover{
  text-decoration: underline;
  color: var(--MAQRed);
} */

/* Top Nav */

/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 10px 50px;
    border-bottom: solid 2px var(--StrokeGrey);
    height: auto;
}

.navbar ul.navbar-inner{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar ul li {
    margin-left: 20px;
}
.navbar ul li a {
    color: var(--MAQBlack);
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

.navbar ul li a .active {
    color: var(--MAQBlack);
    text-decoration: underline;
} */


.logo-image{
    width: 120px;
    max-width: 100%;
    height: 40px;
}

.flex-col-2{
  display: flex;
  flex-direction: row;
}

.section-block-padding-sm{
  padding: 5% 10%;
}

.section-block-padding-lg{
  padding: 10% 10%;
}

.hero-section{
  background: linear-gradient(to bottom, #FFFFFF, #F0F0F0);

}

.hero-item-1 {
  flex: 2;
}

.hero-item-2 {
  flex: 1;
}

.homepage-feature{

}

/* buttons */

.btn-primary{
  background-color: var(--MAQRed);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
  margin-top: 1em;

}

.btn-primary:hover{
  background-color: white;
  color: var(--MAQRed);;
  border: 2px solid var(--MAQRed);
}

/* flex grids */


.services-flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.products-flex-grid {
  display: flex;
  flex-direction: row;
}

.community-flex-grid{
  display: flex;
  flex-direction: row; 
}

.business-outcomes-flex-grid{
  display: flex;
  flex-direction: row;
  align-items: start;
}

.pricing-flex-grid{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.card-item{
  background-color: var(--white);
  color: var(--MAQBlack);
  flex: 1 1 calc(33.333% - 10px);
  margin: 5px;
  padding: 14px;
  border: 1.5px solid var(--StrokeGrey);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card-item-centered{
  color: var(--MAQBlack);
  flex: 1 1 calc(33.333% - 10px);
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
  margin-left: 2em;
}
.card-list{
  font-size: 1.25em;
  margin-bottom: auto;
}

.price-item{
  background-color: var(--white);
  color: var(--MAQBlack);
  flex: 1 1 calc(33.333% - 10px);
  margin: 5px;
  padding: 20px;
  border: 2px solid var(--StrokeGrey);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 2em;
  margin-left: 2em;
  padding-left: 3em;
  padding-right: 3em;
}



.stat-item{
  background-color: var(--white);
  color: var(--MAQBlack);
  flex: 1 1 calc(33.333% - 10px);
  margin: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}


/* Images & Icons */

.img-container{
  width: 100%;
  height: 150px;
  margin-bottom: 6%;
  border-radius: 4px;
  overflow: hidden;
  position: relative;

}

.img-container-insights{
  width: 100%;
  height: 160px;
  margin-bottom: 6%;
  border-radius: 4px;
  overflow: hidden;
  position: relative;

}


.services-icon-img{
  width: 32px; 
}

img.services-case-study-img{
  width: 100%;
  height: 100%;
  margin-bottom: 6%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

img.insights-img{
  width: 100%;
  height: 100%;
  margin-bottom: 6%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;

}

img.customer-stories-img{
  width: 100%;
  margin-bottom: 6%;
  top: 50%;
  left: 50%;
  object-fit: cover;
}

/* section types */
.centered-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.max-section-size{
  width: 100%;
  max-width: 114rem;
  display: flex;
  flex-grow: 1;
}




.explore-our-products-section, .customer-stories-section, .steps-section, .community-section, .business-outcomes-section, .contact-gray-section,
.product-pricing-section{
  background-color: var(--MAQGrey);
}




div.flex{
  width: fit-content;
}

/* decorations */

/* .red-underline {
  width: 100%;
  height: 4px;
  background: var(--MAQRed);
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
} */

/* tables */

.flex-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.5em;
}
.flex-table-header, .flex-table-row {
  display: flex;
  width: 100%;
}
.flex-table-cell, .flex-table-header-cell {
  flex: 1;
  border: 1px solid #ccc;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
  align-content: center;
}
.flex-table-header-cell {
  background-color: var(--MAQGrey);
  font-weight: bold;
}
.flex-table .flex-table-row:nth-child(odd) {
  background-color: var(--MAQGrey);
}

.description-cell{
  flex: 0 0 40%;
  font-weight: bold;
}

.top-left-cell{
  border-top-left-radius: 6px;
  overflow: hidden;
}

.top-right-cell{
  border-top-right-radius: 6px;
  overflow: hidden;
}

.bottom-left-cell{
  border-bottom-left-radius: 6px;
  overflow: hidden;
}

.bottom-right-cell{
  border-bottom-right-radius: 6px;
  overflow: hidden;
}

.price-plan-checkmark{
  height: 2em;
  width: 2em;
}

.price-plan-slash{
  color: var(--MAQBlack);
  font-size: 1.5em;
}
/* 
table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  overflow: hidden;
  border: 2px var(--MAQGrey);
  border-radius: 5px;
}

td, th{
  border: 1px solid var(--DarkGrey);
  flex: 1 1;
}

.service-detail{
  font-weight: bold;
  width: 60%;
  height: 100%;
  padding: 0.5em;
  text-align: center;
}



th{
  padding: 0.5em;
  text-align: center;

}

tbody tr:nth-child(odd) {
  background-color: var(--MAQGrey);
}

thead th:first-child{
  border-top-left-radius: 6px;
  overflow: hidden;
}
thead th:last-child{
  border-top-right-radius: 6px;
  overflow: hidden;
}
tbody tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
  overflow: hidden;
}
tbody tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
  overflow: hidden;
} */
/* tbody tr:first-child{
  border-bottom: var(--MAQGrey);
  border-width: 1px;
  overflow: hidden;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

tbody tr:last-child{
  border-top: var(--MAQGrey);
  border-width: 1px;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  
} */

/* accordian */


/* accordion */

/* .accordion-header-container{
  display: flex;
  align-items: flex-start;
} */

.max-accordion-size{
  width: 100%;
  max-width: 114rem;
}

.accordion-section{
  display: flex;
  align-items: center;
  flex-direction: column;
}

img .accordion-img{
  max-width: 200px;
  max-width: 100px;
}

.accordion-item:not(:last-child) .accordion-button {
  border-bottom: 1px solid #dee2e6; /* Border between items */
}

.accordion-item:not(:first-child) .accordion-button {
  border-bottom: 1px solid #dee2e6; /* Border between items */
}

.accordion-body{
  border-top: 1 solid var(--StrokeGrey);

}

.accordion-button:focus {
  box-shadow: var(--StrokeGrey); 
  outline: var(--StrokeGrey);   
  border-bottom: 1 solid var(--StrokeGrey);
  border-color: var(--StrokeGrey);
}

 .accordion-button{
  border-top: 1 solid var(--StrokeGrey);
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: white;
  outline: var(--StrokeGrey);  
  border-bottom: 1 solid var(--StrokeGrey);
}

.accordion-text-group{
  margin-bottom: 1.5em;
}

.button.accordion-button.collapsed{
  margin: 0px;
}

.collapsed{
  margin: 0px;
}

.large-link{
  font-size: 1.25rem;
}

.accordion-body-2{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.accordion-img{
  height: 200px;
  width: 300px;
  margin-left: auto;

}

.accordion-text{
  flex-grow: 1;
  flex-direction: column;
  margin-left: 5%;
}

#headingOne button{
  font-size: 0.75em;
}

#collapseOne{
  font-size: 1.5em;
}

#headingTwo button{
  font-size: 0.75em;
}

#collapseTwo{
  font-size: 16px;
}

#headingThree button{
  font-size: 0.75em;
}

#collapseThree{
  font-size: 16px;
}

#headingFour button{
  font-size: 0.75em;
}

#collapseFour{
  font-size: 16px;
}


/*carousel */

.carousel img {
  width: 70px;
  max-height: 70px;
  border-radius: 50%;
  margin-right: 1rem;
  overflow: hidden;
}
.carousel-inner {
  padding: 1em;
}

@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
    width: 90%;
    margin-inline: auto;
    padding: 1em 0;
    overflow: hidden;
  }
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 2);
  }
}
@media screen and (min-width: 768px) {
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
  }
}
.carousel .card {
  margin: 0 0.5em;
  border: 0;
}

.carousel-control-prev,
.carousel-control-next {
  width: 3rem;
  height: 3rem;
  background-color: grey;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

/* dropdown */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li {
  display: block;
}

.dropdown-content li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li a:hover {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

  
  .community-carousel, .products-carousel{
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .community-card {
    flex: 0 0 33%;
    box-sizing: border-box;
    padding: 20px;
    margin: 5px;
    background-color: var(--white);
    color: var(--MAQBlack);
    padding: 20px;
    border: 2px solid var(--StrokeGrey);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .products-card {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 20px;
    margin: 5px;
    padding: 20px;
  }

  .community-carousel-controls, .products-carousel-controls {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .community-carousel-dots, .products-carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .community-carousel-dot, .products-carousel-dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .community-carousel-dot.active, .products-carousel-dot.active {
    background-color: #717171;
  }
  
  .community-carousel-chevron, .products-carousel-chevron {
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
    user-select: none;
  }

  .margin-btm-6{
    margin-bottom: 10%;
  }
